[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

YoBit = "*"
numpy = "*"
tesserocr = "2.2.2"
python-twitter = "*"
requests = "*"
psycopg2 = "*"
telethon = "*"
opencv-contrib-python = "*"


[requires]

python_version = "3.6"